<footer class="footer">
  <div class="container">
    <span class="text-muted">Built by Team MADS at Makers Academy, Cohort: September 2021. <a href="https://github.com/maxcfry">Max</a>, <a href="https://github.com/arthurfincham">Arthur</a>, <a href="https://github.com/dpkerins">Doug</a> & <a href="https://github.com/s-palmer">Sergei</a>.</span>
  </div>
</footer>
