<h1> Welcome to MakersBNB </h1>
<form action="/" method="post">
  <h2> Sign up here </h2>
  <label for="email">Email:</label>
  <input type="email" name="email">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="Submit details">
  <h3> Already signed up? Sign in here </h3>
  <label for="email">Email:</label>
  <input type="email" name="email">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="Submit details">
</form>