<h1>Requests I've made:</h1>
<% @my_requests.each do |request| %>
  <div>
    <h3>I have requested a booking at: <%= request.space_id %></h3>
    <h3>I have requested to stay from <%= request.start_date %> - <%= request.end_date %></h3>
    <% end %>
  </div>
<h1>Requests I've received:</h1>