@font-face {
  font-family: "Myriad";
  src: url("fonts/MYRIADPRO-SEMIBOLD.ttf")
}

body, button, input {
  font-family: "Myriad" !important;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.footer>.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hover_image:hover {
  opacity: .8;
}