@font-face {
  font-family: "Myriad";
  src: url("fonts/MYRIADPRO-SEMIBOLD.ttf")
}

body, button, input {
  font-family: "Myriad" !important;
}

main {
  background-image: url("/images/orangenoise.png") !important;
  background-size: 100px 100px;
  text-shadow: 0px 0px 14px #ffffff;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.footer>.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hover_image:hover {
  opacity: .8;
}
