<form action="/new-space" method="post">
<label for="listing-name">Enter a name for your Space:</label>
<input type="text" name="name" id="listing-name">
<label for="listing-description">Enter a description for your Space:</label>
<input type="text" name="description" id="listing-description">
<label for="listing-price">Enter a price (per night) for your Space:</label>
<input type="number" name="price" id="listing-price">
<label for="listing-fromdate">Available From:</label>
<input type="date" name="availablefrom-date" id="listing-fromdate">
<label for="listing-todate">Available To:</label>
<input type="date" name="availableto-date" id="listing-todate">
<input type="submit" name="submit" value="List my Space" id="button-list-my-space">
</form>